extends ../layout/main
block variable
block meta
  title= 'Главная'
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/home.bundle.js')
block content
  #container
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
